#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 13px;
}
.h_nav{
	background:pink;
}
.h_home{

   font-size: 18px;
   border-radius: 25px;
   margin: 16px 0%;
   text-align:center;
   color: #ec7259;
   border-color: #ec7259;
   background-color: #404040;
}
.ant-layout-sider-children,.ant-menu-dark{
	background:#404040;
}
.h_bj{
    float:right;
    width:79.60% ;
    height:598px;
    /* background:pink; */
    border: 1px solid red;
}
/* 提交按钮 */

.h_btn,.h_cl{
    margin-top: 13px;
    width: 110px;
    height: 44px;
    background: #6FE04F;
    border-radius: 25px;
    font-size: 23px;
    color: #fff;
    
}
.h_button{
    margin-left:678px;
}
.h_btt{
    display: block;
    font-size: 12px;
    color:#ffffff;
    font-weight:600;
    padding-left:20px;
    padding-bottom:5px;
}
.h_bt1{
    display: block;
    font-size: 16px;
    color: #ffffff;
    font-weight:400;
    padding-left:20px;
    padding-bottom:5px
}

.tit{
    margin-left: 100px;
    color: red;
}
/* 编辑区 */
.h_title{
    width: 942px;
    height: 39px;
    margin-top: 60px;
    margin-left: 61px;

}
.h_tit1,.h_tit2{
    display: block;
    position: absolute;
    top: 143px;
    left: 307px;
    font-size: 18px;
    color: #272822;
}
.h_tit2{
   top:219px;
}
.h_connect{
    width: 944px;
    height: 300px;
    margin-left: 64px;
    margin-top: 44px;
    overflow-x: hidden;
    font-size: 14px;
    overflow: scroll;
    resize: none;
    border-radius:2px;
}

